.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.txt-xg {
    font: var(--h1);
}

.txt-gg {
    font: var(--h2);
}

.txt-g {
    font: var(--h3);
}

.txt-p {
    font: var(--txt-sm);
}